<h3>
  Domestic Abuse
</h3>

<p>
  The number of Domestic Abuse incidents recorded in Scotland. The first two columns display the number of incidents 
  that were recorded as being crimes/offences as well as the number of incidents which turned out to not be a crime
  or offence. The third column displays the number of incidents which were reported directly to the Police.
</p>

<table border="1">
  <thead>
    <tr>
      <th>Year</th>
      <th>Crimes/Offences</th>
      <th>No Crime or Offence</th>
      <th>Reported to Police Force</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @statistics.where(name: "domestic").find_each do |statistic| %>
      <tr>
        <td><%= statistic.year %></td>
        <td><%= statistic.number1.to_i %></td>
        <td><%= statistic.number2.to_i %></td>
        <td><%= statistic.number3.to_i %></td>
        <% if admin_signed_in? %>
        <td><%= link_to 'Destroy', statistic, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>

