<h3>
  Firearm Offences
</h3>

<p>
  The number of offences committed that involved the use of a firearm, sorted by type of firearm used.
</p>

<table border="1">
  <thead>
    <tr>
      <th>Year</th>
      <th>Shotgun</th>
      <th>Rifle</th>
      <th>Pistol/Revolver</th>
      <th>Air Weapon</th>
      <th>Imitation Firearm</th>
      <th>Unidentified</th>
      <th>Other</th>
      <th>Total</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @statistics.where(name: "firearmsoffences").find_each do |statistic| %>
      <tr>
        <td><%= statistic.year %></td>
        <td><%= statistic.number1.to_i %></td>
        <td><%= statistic.number2.to_i %></td>
        <td><%= statistic.number3.to_i %></td>
        <td><%= statistic.number4.to_i %></td>
        <td><%= statistic.number5.to_i %></td>
        <td><%= statistic.number6.to_i %></td>
        <td><%= statistic.number7.to_i %></td>
        <td><%= statistic.number8.to_i %></td>
        <% if admin_signed_in? %>
        <td><%= link_to 'Destroy', statistic, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>

