<h3>
  Prison Population
</h3>

<p>
  The size of Scotland's prison population, sorted by length of prison sentence.
</p>

<table border="1">
  <thead>
    <tr>
      <th>Year</th>
      <th>Remand</th>
      <th>Less Than 4 Years</th>
      <th>4 Years or Over</th>
      <th>Total</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @statistics.where(name: "prisonpop").find_each do |statistic| %>
      <tr>
        <td><%= statistic.year %></td>
        <td><%= statistic.number1.to_i %></td>
        <td><%= statistic.number2.to_i %></td>
        <td><%= statistic.number3.to_i %></td>
        <td><%= statistic.number4.to_i %></td>
        <% if admin_signed_in? %>
        <td><%= link_to 'Destroy', statistic, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>