<h3>
  Racist Incidents 
</h3>

<p>
  The number of racist incidents, racist crimes, victims of racist incidents/crimes and 
  perpetrators of racist incidents/crimes in Scotland.
</p>

<table border="1">
  <thead>
    <tr>
      <th>Year</th>
      <th>Incidents</th>
      <th>Crimes</th>
      <th>Victims</th>
      <th>Perpetrators</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @statistics.where(name: "racistincidents").find_each do |statistic| %>
      <tr>
        <td><%= statistic.year %></td>
        <td><%= statistic.number1.to_i %></td>
        <td><%= statistic.number2.to_i %></td>
        <td><%= statistic.number3.to_i %></td>
        <td><%= statistic.number4.to_i %></td>
        <td><%= link_to 'Destroy', statistic, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>