<h3>
  Reconvictions
</h3>

<p>
  The reconviction rates for offenders released from a custodial sentence and offenders 
  given a non-custodial sentence. The number shown is the average number of reconvictions
  per offender. Values of 0.0 indicate that this particular sentence was not in use at the time.
</p>

<table border="1">
  <thead>
    <tr>
      <th>Year</th>
      <th>All Sentences</th>
      <th>Discharged From Custody</th>
      <th>Community Sentence</th>
      <th>Restriction of Liberty Order</th>
      <th>Drug Treatment and Testing Order</th>
      <th>Monetary</th>
      <th>Other</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @statistics.where(name: "reconvictions").find_each do |statistic| %>
      <tr>
        <td><%= statistic.year %></td>
        <td><%= statistic.number1.round(2) %></td>
        <td><%= statistic.number2.round(2) %></td>
        <td><%= statistic.number3.round(2) %></td>
        <td><%= statistic.number4.round(2) %></td>
        <td><%= statistic.number5.round(2) %></td>
        <td><%= statistic.number6.round(2) %></td>
        <td><%= statistic.number7.round(2) %></td>
        <% if admin_signed_in? %>
        <td><%= link_to 'Destroy', statistic, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>