<h3>
  Drug Seizures From 2010
</h3>

<p>
  The total number of drug seizures carried out by the Police in Scotland from 2010 onwards. Also shown
  are the number of seizures sorted by the class of drug that was seized.
</p>

<table border="1">
  <thead>
    <tr>
      <th>Year</th>
      <th>Class A</th>
      <th>Class B</th>
      <th>Class C</th>
      <th>Total Number of Seizures</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @statistics.where(name: "seizures2010").find_each do |statistic| %>
      <tr>
        <td><%= statistic.year %></td>
        <td><%= statistic.number1.to_i %></td>
        <td><%= statistic.number2.to_i %></td>
        <td><%= statistic.number3.to_i %></td>
        <td><%= statistic.number4.to_i %></td>
        <% if admin_signed_in? %>
        <td><%= link_to 'Destroy', statistic, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>