<h3>
  Sentence Type
</h3>

<p>
  The total number of people with a charge proved in a Scottish Court, sorted by sentence type.
</p>

<table border="1">
  <thead>
    <tr>
      <th>Year</th>
      <th>Custody</th>
      <th>Community Sentence</th>
      <th>Other Sentence</th>
      <th>Financial Penalty</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @statistics.where(name: "sentencetype").find_each do |statistic| %>
      <tr>
        <td><%= statistic.year %></td>
        <td><%= statistic.number1.to_i %></td>
        <td><%= statistic.number2.to_i %></td>
        <td><%= statistic.number3.to_i %></td>
        <td><%= statistic.number4.to_i %></td>
        <% if admin_signed_in? %>
        <td><%= link_to 'Destroy', statistic, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>